.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff8c00;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #4c5660;
  }
  
  .main-content {
    margin-left: 260px; /* Same as the width of the sidenav */
    padding: 16px;
  }
  
  @media screen and (max-width: 600px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    .main-content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }
  